* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

scroll-container{
  display: block;
  width: 100%;
  height: 400vh;
  scroll-behavior: smooth !important;
  
}

html{
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: url(../imagens/10695970-textura-grunge-background-grainy-textura-abstrata-em-um-fundo-branco-background-highly-detalhado-grunge-com-espaco-foto.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

::-webkit-scrollbar-track{
  background-color: white;
}
::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-thumb{
  background:#133413;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover{
  background: #102b10 ;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #ffff;
  box-shadow: -8px -3px 10px 0px rgb(0 0 0 / 69%);
  padding: 0px 10%;
  z-index: 1000;
}

header .navbar ul {
  list-style: none;
}

header .navbar ul li {
  position: relative;
  float: left;
  text-transform: capitalize;
}
.item1{
      left: 47.5%;
      transition: 0.4s;
}

header .navbar ul li a {
  font-size: 1.075vw;
  padding: 2vh;
  color: #333;
  display: block;
}

header .navbar ul li a:hover {
  background: #000000;
  color: #ffffff;
}

header .navbar ul li ul {
  position: absolute;
  width: 200px;
  background: #ffff;
  display: none;
}




#logo {
  background: transparent;
  position: fixed;
  z-index: 1000;
  left: 1%;
  width: 3.5%;
  top: 0.4%;
}
#logo_principal {
  width: 100%;
  z-index: 1;
}
#logo_vermes{
  width: 80%;
  left: 0.5%;
  position: absolute;
  top: 7%;
  z-index: 2;
}
#logo_vermes_moldura{
  filter: brightness(0);
  width: 95%;
  position: absolute;
  left: -7%;
  top: 0%;

}
#input_botao_principal {
  cursor: pointer;
  width: auto;
  display: none;
}
#botao_principal {
  border: solid black 2px;
  outline: 0;
  background: none;
  text-align: center;
  height: auto;
  font-size: 1.4vw;
  transition: 0.7s;
  cursor: pointer;
  position: absolute;
  top: 47%;
  left: 43%;
  background: white;
  padding: 30px;
  border-radius: 70px;
  display: flex;
  text-align: center;
  user-select: none;
  z-index: 900000;
  transition: 0.4s;
  z-index: 1;
}
#bola_menu {
  width: 0%;
  height: 0vh;
  background: #333;
  border-radius: 100%;
  top: 30%;
  left: 20%;
  position: absolute;
  transition: 0.4s;
  cursor: pointer;
  z-index: 1;
}
#bola_menu1 {
  width: 0%;
  height: 0vh;
  background: transparent;
  top: 30%;
  left: 65%;
  position: absolute;
  transition: 0.4s;
  cursor: pointer;
  z-index: 1;
  border-radius: 20px;
}



#certeza{
  color: transparent;
  position: absolute;
  top: 25%;
  left: 18.4%;
  font-size: 2vw;
  font-style: italic;
  transition: 0.4s;
}
#certeza_MOLDURA{
  color: transparent;
  position: absolute;
  top: 20%;
  left: 6.4%;
  font-size: 5vw;
  font-weight: 600;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: transparent;
  font-style: italic;
  transition: 0.4s
}

#certeza_MOLDURA1 {
  color: transparent;
  position: absolute;
  top: 20%;
  left: 51%;
  font-size: 5vw;
  font-weight: 600;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: transparent;
  font-style: italic;
  transition: 0.4s;
}

#certeza1 {
  color: transparent;
  position: absolute;
  top: 25%;
  left: 65%;
  font-size: 2vw;
  font-style: italic;
  transition: 0.4s;
}











#vermes:hover ~ #certeza1 {
  color: #49494982;
}
#vermes:hover ~ #certeza_MOLDURA1 {
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.075);
}


#vermes:hover ~ #vermifugos #bola_menu1 {
  filter: brightness(1.1);
}
#vermes:checked + header{ 
  background: #d90022;
  color: #ffff;
  box-shadow: 0px 2px 9px black;
}
#vermes:checked + header .navbar ul li {
  position: relative;
  float: left;
  left: 32%;
  text-transform: capitalize;
}
#vermes:checked + header .navbar ul li a{
  color: #fff;
  padding: 1.8vw;
}
#vermes:checked ~  #vermifugos #bola_menu1 {
  background: transparent;
  top: -1.5%;
  left: 4%;
  z-index: 10000;
  width: 4% !important;
  height: 10vh;
  position: fixed;
}

#vermes:checked ~  #vermifugos #bola_menu1 #logo_vermes_moldura{
  display: none;
}
#vermes:checked ~ #logo #logo_principal{
  display: none;
}
#vermes:checked ~ #restinga_velha #bola_menu {
  display: none;
}
#vermes:checked ~ #botao_principal{
  display: none;
}
#vermes:checked ~ #vermifugos #fundo1{
  top: 0;
  left: 0;
  width: 100%;
  height: 200vh;
}
#fundo1{
  width: 0%;
  height: 0vh;
  position: absolute;
  top: 50%;
  left: 50%;
  background:rgb(255, 255, 255);
}



#bola_menu_op1_2{
  width: 0%;
  height: 0vh;
  position: absolute;
  background: transparent;
  top: 7%;
  left: 10%;
  transition: 0.4s;
  cursor: pointer;
  z-index: 10;
}
#vermes:checked ~ #vermifugos #bola_menu_op1_2{
  border: 1px solid #000000;
  z-index: 20;
  width: 70%;
  height: 20vh;
  left: 20%;
}
#vermes:checked ~ #vermifugos #fundo1 #bola_menu_op1_2 .nome_tatica1{
  font-size: 5vw;
  -webkit-text-stroke-color: #000000;
  display: block;
  left: 39%;
}
#bola_menu_op1_2:hover{
  background: #d90022;
}
#bola_menu_op1_2:hover > .nome_tatica1{
  color: #fff !important;
  -webkit-text-stroke-width: 0px !important;
  -webkit-text-stroke-color: transparent !important;
}





#bola_menu_op2_2{
  width: 0%;
  height: 0vh;
  position: absolute;
  background: transparent;
  top: 17%;
  left: 10%;
  transition: 0.4s;
  cursor: pointer;
  z-index: 10;
}
#vermes:checked ~ #vermifugos #bola_menu_op2_2{
  border: 1px solid #000000;
  z-index: 20;
  width: 70%;
  height: 20vh;
  left: 20%;
}
#bola_menu_op2_2:hover{
  background: #d90022;
}
#vermes:checked ~ #vermifugos #fundo1 #bola_menu_op2_2 .nome_tatica1{
  font-size: 5vw;
  -webkit-text-stroke-color: #000000;
  display: block;
  left: 41.5%;
}
#bola_menu_op2_2:hover > .nome_tatica1{
  color: #fff !important;
  -webkit-text-stroke-width: 0px !important;
  -webkit-text-stroke-color: transparent !important;
}





#bola_menu_op3_2{
  width: 0%;
  height: 0vh;
  position: absolute;
  background: transparent;
  top: 27%;
  left: 10%;
  transition: 0.4s;
  cursor: pointer;
  z-index: 10;
}
#vermes:checked ~ #vermifugos #bola_menu_op3_2{
  border: 1px solid #000000;
  z-index: 20;
  width: 70%;
  height: 20vh;
  left: 20%;
}
#bola_menu_op3_2:hover{
  background: #d90022;
}
#vermes:checked ~ #vermifugos #fundo1 #bola_menu_op3_2 .nome_tatica1{
  font-size: 5vw;
  -webkit-text-stroke-color: #000000;
  display: block;
  left: 41.5%;
}
#bola_menu_op3_2:hover > .nome_tatica1{
  color: #fff !important;
  -webkit-text-stroke-width: 0px !important;
  -webkit-text-stroke-color: transparent !important;

}



#bola_menu_op4_2{
  width: 0%;
  height: 0vh;
  position: absolute;
  background: transparent;
  top: 37%;
  left: 10%;
  transition: 0.4s;
  cursor: pointer;
  z-index: 10;
}
#vermes:checked ~ #vermifugos #bola_menu_op4_2{
  border: 1px solid #000000;
  z-index: 20;
  width: 70%;
  height: 20vh;
  left: 20%;
}
#bola_menu_op4_2:hover{
  background: #d90022;
}
#vermes:checked ~ #vermifugos #fundo1 #bola_menu_op4_2 .nome_tatica1{
  font-size: 5vw;
  -webkit-text-stroke-color: #000000;
  display: block;
  left: 39%;
}
#bola_menu_op4_2:hover > .nome_tatica1{
  color: #fff !important;
  -webkit-text-stroke-width: 0px !important;
  -webkit-text-stroke-color: transparent !important;
}



#vermes:checked ~ #vermifugos #fundo1 scroll-container #page-1_2 .campo .posicionamento .titulo_esquema {
  display: block;
  color: #ffffff77;
  position: absolute;
  top: 20%;
  left: 34%;
}
#vermes:checked ~ #vermifugos #fundo1 scroll-container #page-1_2 .campo .posicionamento #titulo1_2{
  display: block;
  color: #ffffff77;
  position: absolute;
  top: 20%;
  left: 44%;
}
#vermes:checked ~ #vermifugos #fundo1 scroll-container #page-1_2 .campo .posicionamento #titulo2_2{
  display: block;
  color: #ffffff77;
  position: absolute;
  top: 20%;
  left: 44%;
}
#vermes:checked ~ #vermifugos #fundo1 scroll-container #page-1_2 .campo .posicionamento #titulo3_2{
  display: block;
  color: #ffffff77;
  position: absolute;
  top: 20%;
  left: 44%;
}
#vermes:checked ~ #vermifugos #fundo1 scroll-container #page-1_2 .campo .posicionamento #titulo4_2{
  display: block;
  color: #ffffff77;
  position: absolute;
  top: 20%;
  left: 40%;
}
#vermes:checked ~ #vermifugos #fundo1 scroll-container #page-1_2 .campo .campo_imagem_2 #esquemas_titulo_prin_2 {
  display: block;
  position: absolute;
  font-size: 4vw;
  color: rgb(255, 246, 229);
  top: 10%;
  left: 2%;
}
#vermes:checked ~ #vermifugos #fundo1 scroll-container #page-1_2 .campo .campo_imagem_2 #esquemas_titulo_sec_2 {
  display: block;
  position: absolute;
  font-size: 1.6vw;
  color: rgb(255, 246, 229);
  top: 22%;
  left: 2%;
}

#fundo1{
  width: 0%;
  height: 0vh;
  position: absolute;
  top: 50%;
  left: 50%;
  background:rgb(255, 255, 255);
}



#page-1_2{
  width: 100%;
  height: 100vh;
  background: #151616;
  position: absolute;
  top: 65%;
  left: 0%;
  transition: 0.4s;
  scroll-behavior: smooth !important;
}
#page-2_2{
  width: 100%;
  height: 100vh;
  background: #151616;
  position: absolute;
  top: 115%;
  left: 0%;
  transition: 0.4s;
  scroll-behavior: smooth !important;
}
#page-3_2{
  width: 100%;
  height: 100vh;
  background: #151616;
  position: absolute;
  top: 165%;
  left: 0%;
  transition: 0.4s;
  scroll-behavior: smooth !important;
}
#page-4_2 {
  width: 100%;
  height: 100vh;
  background: #151616;
  position: absolute;
  top: 215%;
  left: 0%;
  transition: 0.4s;
  scroll-behavior: smooth !important;
}



#posicao1_2{
  position: absolute;
  background: transparent;
  width: 15.5%;
  height: 15%;
  top: 3%;
  left: 3%;
  cursor: pointer;
  z-index: 1;
}
#posicao2_2{
  position: absolute;
  background: transparent;
  width: 15.5%;
  height: 15%;
  top: 13%;
  left: 3%;
  cursor: pointer;
  z-index: 1;
}
#posicao3_2{
  position: absolute;
  background: transparent;
  width: 15.5%;
  height: 15%;
  top: 23%;
  left: 3%;
  cursor: pointer;
  z-index: 1;
}
#posicao4_2{
  position: absolute;
  background: transparent;
  width: 15.5%;
  height: 15%;
  top: 33%;
  left: 3%;
  cursor: pointer;
  z-index: 1;
}



.campo_imagem_2{
  position: absolute;
  background: rgb(21, 22, 22);
  width: 50%;
  height: 100%;
  left: 5%;
  top: 0;
}
#imagem_2{
  width: 100%;
  left: 0%;
  top: 30%;
  position: absolute;
}



#pos1_2_1 {
  left: 47%;
  top: 40%;
}
#pos2_2_1 {
  left: 63%;
  top: 45%;
}
#pos3_2_1 {
  left: 32%;
  top: 45%;
}
#pos4_2_1 {
  left: 40%;
  top: 52%;
}
#pos5_2_1 {
  left: 54%;
  top: 52%;
}
#pos6_2_1 {
  left: 47%;
  top: 60%;
}
#pos7_2_1 {
  left: 23%;
  top: 57%;
}
#pos8_2_1 {
  left: 35%;
  top: 63%;
}
#pos9_2_1 {
  left: 59%;
  top: 63%;
}
#pos10_2_1 {
  left: 72%;
  top: 57%;
}
#pos11_2_1 {
  left: 47%;
  top: 71%;
}




#pos1_2_2 {
  left: 47%;
  top: 40%;
}
#pos2_2_2 {
  left: 55%;
  top: 52%;
}
#pos3_2_2 {
  left: 39%;
  top: 52%;
}
#pos4_2_2 {
  left: 26%;
  top: 49%;
}
#pos5_2_2 {
  left: 69%;
  top: 49%;
}
#pos6_2_2 {
  left: 47%;
  top: 61%;
}
#pos7_2_2 {
  left: 22%;
  top: 59%;
}
#pos8_2_2 {
  left: 35%;
  top: 63%;
}
#pos9_2_2 {
  left: 60%;
  top: 63%;
}
#pos10_2_2 {
  left: 73%;
  top: 59%;
}
#pos11_2_2 {
  left: 47%;
  top: 71%;
}



#pos1_3_2 {
  left: 42%;
  top: 40%;
}
#pos2_3_2 {
  left: 52%;
  top: 40%;
}
#pos3_3_2 {
  left: 56%;
  top: 50%;
}
#pos4_3_2 {
  left: 38%;
  top: 50%;
}
#pos5_3_2 {
  left: 47%;
  top: 53%;
}
#pos6_3_2 {
  left: 47%;
  top: 61%;
}
#pos7_3_2 {
  left: 23%;
  top: 57%;
}
#pos8_3_2 {
  left: 35%;
  top: 63%;
}
#pos9_3_2 {
  left: 60%;
  top: 63%;
}
#pos10_3_2 {
  left: 72%;
  top: 57%;
}
#pos11_3_2  {
  left: 47%;
  top: 71%;
}



#pos1_4_2 {
  left: 47%;
  top: 40%;
}
#pos2_4_2 {
  left: 47%;
  top: 48%;
}
#pos3_4_2 {
  left: 40%;
  top: 55%;
}
#pos4_4_2 {
  left: 30%;
  top: 48%;
}
#pos5_4_2 {
  left: 63%;
  top: 48%;
}
#pos6_4_2 {
  left: 54%;
  top: 55%;
}
#pos7_4_2 {
  left: 22%;
  top: 59%;
}
#pos8_4_2 {
  left: 37%;
  top: 63%;
}
#pos9_4_2 {
  left: 57%;
  top: 63%;
}
#pos10_4_2 {
  left: 73%;
  top: 59%;
}
#pos11_4_2 {
  left: 47%;
  top: 71%;
}




#esquemas_titulo_prin_2{
  display: none;
}
#esquemas_titulo_sec_2{
  display: none
}



#pos1_camisa_2{
  top: 34%;
  left: 5%;
  transition: 0.4s;
}
#pos2_camisa_2{
  top: 34%;
  left: 5%;
  transition: 0.4s;
}
#pos3_camisa_2{
  top: 34%;
  left: 5%;
  transition: 0.4s
}
#pos4_camisa_2{
  top: 34%;
  left: 5%;
  transition: 0.4s;
}
#pos5_camisa_2{
  top: 34%;
  left: 5%;
  transition: 0.4s;
}
#pos6_camisa_2{
  top: 34%;
  left: 5%;
  transition: 0.4s;
}
#pos7_camisa_2{
  top: 34%;
  left: 5%;
  transition: 0.4s;
}
#pos8_camisa_2{
  top: 34%;
  left: 5%;
  transition: 0.4s;
}
#pos9_camisa_2{
  top: 34%;
  left: 5%;
  transition: 0.4s;
}
#pos10_camisa_2{
  top: 34%;
  left: 5%;
  transition: 0.4s;
}
#pos11_camisa_2{
  top: 34%;
  left: 5%;
  transition: 0.4s;
}


#esquema1_2:checked ~ #fundo1 scroll-container #page-1_2 .campo .campo_imagem_2 #pos1_camisa_2 {
  top: 30%;
  left: 45%;
}
#esquema1_2:checked ~ #fundo1 scroll-container #page-1_2 .campo .campo_imagem_2 #pos2_camisa_2 {
  top: 40%;
  left: 71%;
}
#esquema1_2:checked ~ #fundo1 scroll-container #page-1_2 .campo .campo_imagem_2 #pos3_camisa_2 {
  top: 50%;
  left: 35%;
}
#esquema1_2:checked ~ #fundo1 scroll-container #page-1_2 .campo .campo_imagem_2 #pos4_camisa_2 {
  top: 40%;
  left: 20%;
}
#esquema1_2:checked ~ #fundo1 scroll-container #page-1_2 .campo .campo_imagem_2 #pos5_camisa_2 {
  top: 50%;
  left: 56%;
}
#esquema1_2:checked ~ #fundo1 scroll-container #page-1_2 .campo .campo_imagem_2 #pos6_camisa_2 {
  left: 45%;
  top: 60%;
}
#esquema1_2:checked ~ #fundo1 scroll-container #page-1_2 .campo .campo_imagem_2 #pos7_camisa_2 {
  top: 58%;
}
#esquema1_2:checked ~ #fundo1 scroll-container #page-1_2 .campo .campo_imagem_2 #pos8_camisa_2 {
  top: 58%;
  left: 85%;
}
#esquema1_2:checked ~ #fundo1 scroll-container #page-1_2 .campo .campo_imagem_2 #pos9_camisa_2 {
  top: 66%;
  left: 30%;
}
#esquema1_2:checked ~ #fundo1 scroll-container #page-1_2 .campo .campo_imagem_2 #pos10_camisa_2 {
  top: 66%;
  left: 60%;
}
#esquema1_2:checked ~ #fundo1 scroll-container #page-1_2 .campo .campo_imagem_2 #pos11_camisa_2 {
  top: 77%;
  left: 45%;
}







#esquema2_2:checked ~ #fundo1 scroll-container #page-2_2 .campo .campo_imagem_2 #pos1_camisa_2 {
  top: 33%;
  left: 45%;
}
#esquema2_2:checked ~ #fundo1 scroll-container #page-2_2 .campo .campo_imagem_2 #pos2_camisa_2 {
  top: 51%;
  left: 57%;
}
#esquema2_2:checked ~ #fundo1 scroll-container #page-2_2 .campo .campo_imagem_2 #pos3_camisa_2 {
  top: 51%;
  left: 32%;
}
#esquema2_2:checked ~ #fundo1 scroll-container #page-2_2 .campo .campo_imagem_2 #pos4_camisa_2 {
  top: 45%;
  left: 10%;
}
#esquema2_2:checked ~ #fundo1 scroll-container #page-2_2 .campo .campo_imagem_2 #pos5_camisa_2 {
  top: 45%;
  left: 81%;
}
#esquema2_2:checked ~ #fundo1 scroll-container #page-2_2 .campo .campo_imagem_2 #pos6_camisa_2 {
  top: 63%;
  left: 45%;
}
#esquema2_2:checked ~ #fundo1 scroll-container #page-2_2 .campo .campo_imagem_2 #pos7_camisa_2 {
  top: 60%;
}
#esquema2_2:checked ~ #fundo1 scroll-container #page-2_2 .campo .campo_imagem_2 #pos8_camisa_2 {
  top: 60%;
  left: 83%;
}
#esquema2_2:checked ~ #fundo1 scroll-container #page-2_2 .campo .campo_imagem_2 #pos9_camisa_2 {
  top: 66%;
  left: 30%;
}
#esquema2_2:checked ~ #fundo1 scroll-container #page-2_2 .campo .campo_imagem_2 #pos10_camisa_2 {
  top: 66%;
  left: 60%;
}
#esquema2_2:checked ~ #fundo1 scroll-container #page-2_2 .campo .campo_imagem_2 #pos11_camisa_2 {
  top: 77%;
  left: 45%;
}





#esquema3_2:checked ~ #fundo1 scroll-container #page-3_2 .campo .campo_imagem_2 #pos1_camisa_2 {
  top: 30%;
  left: 54%;
}
#esquema3_2:checked ~ #fundo1 scroll-container #page-3_2 .campo .campo_imagem_2 #pos2_camisa_2 {
  top: 47%;
  left: 61%;
}
#esquema3_2:checked ~ #fundo1 scroll-container #page-3_2 .campo .campo_imagem_2 #pos3_camisa_2 {
  top: 30%;
  left: 36%;
}
#esquema3_2:checked ~ #fundo1 scroll-container #page-3_2 .campo .campo_imagem_2 #pos4_camisa_2 {
  top: 47%;
  left: 30%;
}
#esquema3_2:checked ~ #fundo1 scroll-container #page-3_2 .campo .campo_imagem_2 #pos5_camisa_2 {
  top: 51%;
  left: 45%;
}
#esquema3_2:checked ~ #fundo1 scroll-container #page-3_2 .campo .campo_imagem_2 #pos6_camisa_2 {
  top: 63%;
  left: 45%;
}
#esquema3_2:checked ~ #fundo1 scroll-container #page-3_2 .campo .campo_imagem_2 #pos7_camisa_2 {
  top: 58%;
  left: 8%;
}
#esquema3_2:checked ~ #fundo1 scroll-container #page-3_2 .campo .campo_imagem_2 #pos8_camisa_2 {
  top: 58%;
  left: 82%;
}
#esquema3_2:checked ~ #fundo1 scroll-container #page-3_2 .campo .campo_imagem_2 #pos9_camisa_2 {
  top: 66%;
  left: 30%;
}
#esquema3_2:checked ~ #fundo1 scroll-container #page-3_2 .campo .campo_imagem_2 #pos10_camisa_2 {
  top: 66%;
  left: 60%;
}
#esquema3_2:checked ~ #fundo1 scroll-container #page-3_2 .campo .campo_imagem_2 #pos11_camisa_2 {
  top: 77%;
  left: 45%;
}




#esquema4_2:checked ~ #fundo1 scroll-container #page-4_2 .campo .campo_imagem_2 #pos1_camisa_2 {
  top: 30%;
  left: 45%;
}
#esquema4_2:checked ~ #fundo1 scroll-container #page-4_2 .campo .campo_imagem_2 #pos2_camisa_2 {
  top: 43%;
  left: 45%;
}
#esquema4_2:checked ~ #fundo1 scroll-container #page-4_2 .campo .campo_imagem_2 #pos3_camisa_2 {
  top: 54%;
  left: 32%;
}
#esquema4_2:checked ~ #fundo1 scroll-container #page-4_2 .campo .campo_imagem_2 #pos4_camisa_2 {
  top: 43%;
  left: 16%;
}
#esquema4_2:checked ~ #fundo1 scroll-container #page-4_2 .campo .campo_imagem_2 #pos5_camisa_2 {
  top: 43%;
  left: 74%;
}
#esquema4_2:checked ~ #fundo1 scroll-container #page-4_2 .campo .campo_imagem_2 #pos6_camisa_2 {
  top: 54%;
  left: 59%;
}
#esquema4_2:checked ~ #fundo1 scroll-container #page-4_2 .campo .campo_imagem_2 #pos7_camisa_2 {
  top: 62%;
  left: 8%;
}
#esquema4_2:checked ~ #fundo1 scroll-container #page-4_2 .campo .campo_imagem_2 #pos8_camisa_2 {
  top: 62%;
  left: 82%;
}
#esquema4_2:checked ~ #fundo1 scroll-container #page-4_2 .campo .campo_imagem_2 #pos9_camisa_2 {
  top: 66%;
  left: 33%;
}
#esquema4_2:checked ~ #fundo1 scroll-container #page-4_2 .campo .campo_imagem_2 #pos10_camisa_2 {
  top: 66%;
  left: 57%;
}
#esquema4_2:checked ~ #fundo1 scroll-container #page-4_2 .campo .campo_imagem_2 #pos11_camisa_2 {
  top: 77%;
  left: 45%;
}




















































#restinga:hover ~ #certeza {
  color: #49494982;
}
#restinga:hover ~ #certeza_MOLDURA {
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.075);
}


#restinga:hover ~ #restinga_velha #bola_menu {
  filter: brightness(1.1);
}


#restinga:checked  ~  header{
  background: #011ea0 !important;
  color: #ffff;
  box-shadow: 0px 1px 10px 2px rgb(0 0 0 / 69%);
}
#restinga:checked  ~  header .navbar ul li a{
  color: #fff;
  padding: 1.8vw;
}
#restinga:checked ~ header .navbar ul li {
  position: relative;
  float: left;
  left: 32%;
  text-transform: capitalize;
}

#input_botao_principal:checked ~ #restinga_velha #bola_menu {
  width: 20%;
  height: 40vh;
  left: 17%;
  background: #000000;
}
#input_botao_principal:checked ~ #vermifugos #bola_menu1 {
  width: 20%;
  height: 40vh;
  background: transparent;
}


#input_botao_principal:checked + #botao_principal {
  top: 90%;
  left: 47.5%;
  font-size: 0vw;
}


#logo_restinga {
  position: absolute;
  width: 100%;
  z-index: 1;
}
#restinga:checked ~ #restinga_velha #bola_menu {
  background: transparent;
  top: 0;
  left: 3.3%;
  z-index: 10000;
  width: 4.75%;
  height: 10vh;
  position: fixed;
}
#restinga:checked ~ #logo #logo_principal{
  display: none;
}
#restinga:checked ~ #vermifugos #bola_menu1{
  display: none;
}
#restinga:checked ~ #botao_principal{
  display: none;
}
#restinga:checked ~ #restinga_velha #fundo{
  top: 0;
  left: 0;
  width: 100%;
  height: 200vh;
}
#fundo{
  width: 0%;
  height: 0vh;
  position: absolute;
  top: 50%;
  left: 50%;
  background:rgb(255, 255, 255);
}


#bola_menu_op1{
  width: 0%;
  height: 0vh;
  position: absolute;
  background: transparent;
  top: 7%;
  left: 10%;
  transition: 0.4s;
  cursor: pointer;
  z-index: 10;
}
.nome_tatica1{
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: transparent;
  font-size: 0vw;
  position: absolute;
  left: 40%;
  top: 20%;
  transition: 0.4s;
  display: none;
}
#restinga:checked ~ #restinga_velha #bola_menu_op1{
  border: 1px solid #000000;
  z-index: 20;
  width: 70%;
  height: 20vh;
  left: 20%;
}
#restinga:checked ~ #restinga_velha #fundo #bola_menu_op1 .nome_tatica1{
  font-size: 5vw;
  -webkit-text-stroke-color: #000000;
  display: block;
  left: 33%;
}

#bola_menu_op1:hover{
  background: #011ea0;
}
#bola_menu_op1:hover > .nome_tatica1{
  color: #fff !important;
  -webkit-text-stroke-width: 0px !important;
  -webkit-text-stroke-color: transparent !important;
}




#bola_menu_op2{
  width: 0%;
  height: 0vh;
  position: absolute;
  background: transparent;
  top: 17%;
  left: 10%;
  transition: 0.4s;
  cursor: pointer;
  z-index: 10;
}
#restinga:checked ~ #restinga_velha #bola_menu_op2{
  border: 1px solid #000000;
  z-index: 20;
  width: 70%;
  height: 20vh;
  left: 20%;
}
#bola_menu_op2:hover{
  background: #011ea0;
}
#restinga:checked ~ #restinga_velha #fundo #bola_menu_op2 .nome_tatica1{
  font-size: 5vw;
  -webkit-text-stroke-color: #000000;
  display: block;
  left: 37%;
}
#bola_menu_op2:hover > .nome_tatica1{
  color: #fff !important;
  -webkit-text-stroke-width: 0px !important;
  -webkit-text-stroke-color: transparent !important;
}




#bola_menu_op3{
  width: 0%;
  height: 0vh;
  position: absolute;
  background: transparent;
  top: 27%;
  left: 10%;
  transition: 0.4s;
  cursor: pointer;
  z-index: 10;
}
#restinga:checked ~ #restinga_velha #bola_menu_op3{
  border: 1px solid #000000;
  z-index: 20;
  width: 70%;
  height: 20vh;
  left: 20%;
}
#bola_menu_op3:hover{
  background: #011ea0;
}
#restinga:checked ~ #restinga_velha #fundo #bola_menu_op3 .nome_tatica1{
  font-size: 5vw;
  -webkit-text-stroke-color: #000000;
  display: block;
}
#bola_menu_op3:hover > .nome_tatica1{
  color: #fff !important;
  -webkit-text-stroke-width: 0px !important;
  -webkit-text-stroke-color: transparent !important;

}







#bola_menu_op4{
  width: 0%;
  height: 0vh;
  position: absolute;
  background: transparent;
  top: 37%;
  left: 10%;
  transition: 0.4s;
  cursor: pointer;
  z-index: 10;
}
#restinga:checked ~ #restinga_velha #bola_menu_op4{
  border: 1px solid #000000;
  z-index: 20;
  width: 70%;
  height: 20vh;
  left: 20%;
}
#bola_menu_op4:hover{
  background: #011ea0;
}
#restinga:checked ~ #restinga_velha #fundo #bola_menu_op4 .nome_tatica1{
  font-size: 5vw;
  -webkit-text-stroke-color: #000000;
  display: block;
}
#bola_menu_op4:hover > .nome_tatica1{
  color: #fff !important;
  -webkit-text-stroke-width: 0px !important;
  -webkit-text-stroke-color: transparent !important;
}




#restinga:checked ~ #restinga_velha #fundo scroll-container #page-1 .campo .posicionamento .titulo_esquema {
  display: block;
  color: #ffffff77;
  position: absolute;
  top: 21%;
  left: 34%;
}
#restinga:checked ~ #restinga_velha #fundo scroll-container #page-2 .campo .posicionamento #titulo2{
  display: block;
  color: #ffffff77;
  position: absolute;
  top: 21%;
  left: 38%;
}
#restinga:checked ~ #restinga_velha #fundo scroll-container #page-3 .campo .posicionamento #titulo3{
  display: block;
  color: #ffffff77;
  position: absolute;
  top: 21%;
  left: 40%;
}
#restinga:checked ~ #restinga_velha #fundo scroll-container #page-4 .campo .posicionamento #titulo4{
  display: block;
  color: #ffffff77;
  position: absolute;
  top: 21%;
  left: 40%;
}
#restinga:checked ~ #restinga_velha #fundo scroll-container #page-1 .campo .campo_imagem .esquemas_titulo_prin {
  display: block;
  font-size: 4vw;
  color: rgb(255, 246, 229);
  text-align: center;
  margin-top: 11%;
}
#vermes:checked ~ #vermifugos #fundo1 scroll-container #page-1_2 .campo .campo_imagem_2 .esquemas_titulo_prin{
  display: block;
  font-size: 4vw;
  color: rgb(255, 246, 229);
  text-align: center;
  margin-top: 11%;
}

#restinga:checked ~ #restinga_velha #fundo scroll-container #page-2 .campo .campo_imagem .esquemas_titulo_prin {
  display: block;
  font-size: 4vw;
  color: rgb(255, 246, 229);
  text-align: center;
  margin-top: 11%;
}
#vermes:checked ~ #vermifugos #fundo1 scroll-container #page-2_2 .campo .campo_imagem_2 .esquemas_titulo_prin{
  display: block;
  font-size: 4vw;
  color: rgb(255, 246, 229);
  text-align: center;
  margin-top: 11%;
}
#restinga:checked ~ #restinga_velha #fundo scroll-container #page-3 .campo .campo_imagem .esquemas_titulo_prin {
  display: block;
  font-size: 4vw;
  color: rgb(255, 246, 229);
  text-align: center;
  margin-top: 11%;
}
#vermes:checked ~ #vermifugos #fundo1 scroll-container #page-3_2 .campo .campo_imagem_2 .esquemas_titulo_prin{
  display: block;
  font-size: 4vw;
  color: rgb(255, 246, 229);
  text-align: center;
  margin-top: 11%;
}
#restinga:checked ~ #restinga_velha #fundo scroll-container #page-4 .campo .campo_imagem .esquemas_titulo_prin {
  display: block;
  font-size: 4vw;
  color: rgb(255, 246, 229);
  text-align: center;
  margin-top: 11%;
}
#vermes:checked ~ #vermifugos #fundo1 scroll-container #page-4_2 .campo .campo_imagem_2 .esquemas_titulo_prin{
  display: block;
  font-size: 4vw;
  color: rgb(255, 246, 229);
  text-align: center;
  margin-top: 11%;
}
#restinga:checked ~ #restinga_velha #fundo scroll-container #page-1 .campo .campo_imagem .esquemas_titulo_sec {
  display: block;
  position: absolute;
  font-size: 1.6vw;
  color: rgb(255, 246, 229);
  top: 22%;
  left: 2%;
}


#vermes:checked ~ #vermifugos #fundo1 scroll-container #page-1_2 .campo .campo_imagem_2 .esquemas_titulo_sec {
  display: block;
  position: absolute;
  font-size: 1.6vw;
  color: rgb(255, 246, 229);
  top: 22%;
  left: 2%;
}











#restinga:checked ~ #restinga_velha #fundo scroll-container #page-2 .campo .campo_imagem .esquemas_titulo_sec {
  display: block;
  position: absolute;
  font-size: 1.6vw;
  color: rgb(255, 246, 229);
  top: 22%;
  left: 2%;
}

#vermes:checked ~ #vermifugos #fundo1 scroll-container #page-2_2 .campo .campo_imagem_2 .esquemas_titulo_sec {
  display: block;
  position: absolute;
  font-size: 1.6vw;
  color: rgb(255, 246, 229);
  top: 22%;
  left: 2%;
}






#restinga:checked ~ #restinga_velha #fundo scroll-container #page-3 .campo .campo_imagem .esquemas_titulo_sec {
  display: block;
  position: absolute;
  font-size: 1.6vw;
  color: rgb(255, 246, 229);
  top: 22%;
  left: 2%;
}

#vermes:checked ~ #vermifugos #fundo1 scroll-container #page-3_2 .campo .campo_imagem_2 .esquemas_titulo_sec {
  display: block;
  position: absolute;
  font-size: 1.6vw;
  color: rgb(255, 246, 229);
  top: 22%;
  left: 2%;
}






#restinga:checked ~ #restinga_velha #fundo scroll-container #page-4 .campo .campo_imagem .esquemas_titulo_sec {
  display: block;
  position: absolute;
  font-size: 1.6vw;
  color: rgb(255, 246, 229);
  top: 22%;
  left: 2%;
}

#vermes:checked ~ #vermifugos #fundo1 scroll-container #page-4_2 .campo .campo_imagem_2 .esquemas_titulo_sec {
  display: block;
  position: absolute;
  font-size: 1.6vw;
  color: rgb(255, 246, 229);
  top: 22%;
  left: 2%;
}






#page-1{
  width: 100%;
  height: 100vh;
  background: #151616;
  position: absolute;
  top: 65%;
  left: 0%;
  transition: 0.4s;
  scroll-behavior: smooth !important;
}
#page-2{
  width: 100%;
  height: 100vh;
  background: #151616;
  position: absolute;
  top: 115%;
  left: 0%;
  transition: 0.4s;
  scroll-behavior: smooth !important;
}
#page-3{
  width: 100%;
  height: 100vh;
  background: #151616;
  position: absolute;
  top: 165%;
  left: 0%;
  transition: 0.4s;
  scroll-behavior: smooth !important;
}
#page-4{
  width: 100%;
  height: 100vh;
  background: #151616;
  position: absolute;
  top: 215%;
  left: 0%;
  transition: 0.4s;
  scroll-behavior: smooth !important;
}

.campo{
  background: rgb(21, 22, 22);
  width: 94%;
  height: 90vh;
  position: absolute;
  top: 10%;
  left: 0%;
}

#posicao1 {
  position: absolute;
  background: transparent;
  width: 15.5%;
  height: 15%;
  top: 3%;
  left: 3%;
  cursor: pointer;
  z-index: 1;
}

#posicao2 {
  position: absolute;
  background: transparent;
  width: 15.5%;
  height: 15%;
  top: 13%;
  left: 3%;
  cursor: pointer;
  z-index: 1;
}
#posicao3 {
  position: absolute;
  background: transparent;
  width: 15.5%;
  height: 15%;
  top: 23%;
  left: 3%;
  cursor: pointer;
  z-index: 1;
}
#posicao4 {
  position: absolute;
  background: transparent;
  width: 15.5%;
  height: 15%;
  top: 33%;
  left: 3%;
  cursor: pointer;
  z-index: 1;
}
.imagem_campo {
  position: absolute;
  width: 90%;
  top: 40%;
  left: 5%;
}
.campo_imagem {
  position: absolute;
  background: rgb(21, 22, 22);
  width: 50%;
  height: 100%;
  left: 5%;
  top: 0;
}
#imagem{
  width: 100%;
  left: 0%;
  top: 30%;
  position: absolute;
}

.bolinha{
  width: 5%;
  background: rgb(243, 237, 219);
  height: 5.5%;
  position: absolute;
  z-index: 5;
  border-radius: 100%;
}

#pos1 {
  left: 40%;
  top: 40%;
}
#pos2 {
  left: 54%;
  top: 40%;
}
#pos3 {
  left: 47%;
  top: 45%;
}
#pos4 {
  left: 40%;
  top: 51%;
}
#pos5 {
  left: 54%;
  top: 51%;
}
#pos6 {
  left: 47%;
  top: 58%;
}
#pos7 {
  left: 19%;
  top: 62%;
}
#pos8 {
  left: 37%;
  top: 65%;
}
#pos9 {
  left: 57%;
  top: 65%;
}
#pos10 {
  left: 76%;
  top: 62%;
}
#pos11 {
  left: 47%;
  top: 72%;
}




#pos1_2 {
  left: 40%;
  top: 40%;
}
#pos2_2 {
  left: 54%;
  top: 40%;
}
#pos3_2 {
  left: 47%;
  top: 46%;
}
#pos4_2 {
  left: 27%;
  top: 52%;
}
#pos5_2 {
  left: 68%;
  top: 52%;
}
#pos6_2 {
  left: 47%;
  top: 56%;
}
#pos7_2 {
  left: 19%;
  top: 62%;
}
#pos8_2 {
  left: 37%;
  top: 65%;
}
#pos9_2 {
  left: 57%;
  top: 65%;
}
#pos10_2 {
  left: 76%;
  top: 62%;
}
#pos11_2 {
  left: 47%;
  top: 72%;
}



#pos1_3 {
  left: 37%;
  top: 40%;
}
#pos2_3 {
  left: 57%;
  top: 40%;
}
#pos3_3 {
  left: 47%;
  top: 45%;
}
#pos4_3 {
  left: 37%;
  top: 53%;
}
#pos5_3 {
  left: 57%;
  top: 53%;
}
#pos6_3 {
  left: 47%;
  top: 57%;
}
#pos7_3 {
  left: 19%;
  top: 62%;
}
#pos8_3 {
  left: 37%;
  top: 65%;
}
#pos9_3 {
  left: 57%;
  top: 65%;
}
#pos10_3 {
  left: 76%;
  top: 62%;
}
#pos11_3 {
  left: 47%;
  top: 72%;
}


#pos1_4 {
  left: 40%;
  top: 40%;
}
#pos2_4 {
  left: 54%;
  top: 40%;
}
#pos3_4 {
  left: 40%;
  top: 55%;
}
#pos4_4 {
  left: 29%;
  top: 47%;
}
#pos5_4 {
  left: 65%;
  top: 47%;
}
#pos6_4 {
  left: 54%;
  top: 55%;
}
#pos7_4 {
  left: 19%;
  top: 62%;
}
#pos8_4 {
  left: 37%;
  top: 65%;
}
#pos9_4 {
  left: 57%;
  top: 65%;
}
#pos10_4 {
  left: 76%;
  top: 62%;
}
#pos11_4 {
  left: 47%;
  top: 72%;
}



.camisa{
  width: 10%;
  position: absolute;
  top: 34%;
  left: 5%;
}
.camisa_imagem{
  width: 100%;
}
.titulo_esquema{
  display: none;
}
.esquemas_titulo_prin{
  display: none;
}
.esquemas_titulo_sec{
  display: none
}




#pos1_camisa{
  top: 34%;
  left: 5%;
  transition: 0.4s;
}

#pos2_camisa{
  top: 34%;
  left: 5%;
  transition: 0.4s;
}

#pos3_camisa{
  top: 34%;
  left: 5%;
  transition: 0.4s
}

#pos4_camisa{
  top: 34%;
  left: 5%;
  transition: 0.4s;
}

#pos5_camisa{
  top: 34%;
  left: 5%;
  transition: 0.4s;
}

#pos6_camisa{
  top: 34%;
  left: 5%;
  transition: 0.4s;
}

#pos7_camisa{
  top: 34%;
  left: 5%;
  transition: 0.4s;
}

#pos8_camisa{
  top: 34%;
  left: 5%;
  transition: 0.4s;
}

#pos9_camisa{
  top: 34%;
  left: 5%;
  transition: 0.4s;
}

#pos10_camisa{
  top: 34%;
  left: 5%;
  transition: 0.4s;
}

#pos11_camisa{
  top: 34%;
  left: 5%;
  transition: 0.4s;
}

input{
  display: none;
}

#esquema1:checked ~ #fundo scroll-container #page-1 .campo .campo_imagem #pos1_camisa {
  top: 30%;
  left: 34%;
}
#esquema1:checked ~ #fundo scroll-container #page-1 .campo .campo_imagem #pos2_camisa {
  top: 30%;
  left: 57%;
}
#esquema1:checked ~ #fundo scroll-container #page-1 .campo .campo_imagem #pos3_camisa {
  top: 40%;
  left: 45.2%;
}
#esquema1:checked ~ #fundo scroll-container #page-1 .campo .campo_imagem #pos4_camisa {
  top: 50%;
  left: 34%;
}
#esquema1:checked ~ #fundo scroll-container #page-1 .campo .campo_imagem #pos5_camisa {
  top: 50%;
  left: 57%;
}
#esquema1:checked ~ #fundo scroll-container #page-1 .campo .campo_imagem #pos6_camisa {
  top: 60%;
  left: 45%;
}
#esquema1:checked ~ #fundo scroll-container #page-1 .campo .campo_imagem #pos7_camisa {
  top: 64%;
}
#esquema1:checked ~ #fundo scroll-container #page-1 .campo .campo_imagem #pos8_camisa {
  top: 64%;
  left: 85%;
}
#esquema1:checked ~ #fundo scroll-container #page-1 .campo .campo_imagem #pos9_camisa {
  top: 70%;
  left: 30%;
}
#esquema1:checked ~ #fundo scroll-container #page-1 .campo .campo_imagem #pos10_camisa {
  top: 70%;
  left: 60%;
}
#esquema1:checked ~ #fundo scroll-container #page-1 .campo .campo_imagem #pos11_camisa {
  top: 76%;
  left: 45%;
}









#esquema2:checked ~ #fundo scroll-container #page-2 .campo .campo_imagem #pos1_camisa {
  top: 30%;
  left: 34%;
}
#esquema2:checked ~ #fundo scroll-container #page-2 .campo .campo_imagem #pos2_camisa {
  top: 30%;
  left: 57%;
}
#esquema2:checked ~ #fundo scroll-container #page-2 .campo .campo_imagem #pos3_camisa {
  top: 40%;
  left: 45.2%;
}
#esquema2:checked ~ #fundo scroll-container #page-2 .campo .campo_imagem #pos4_camisa {
  top: 50%;
  left: 14%;
}
#esquema2:checked ~ #fundo scroll-container #page-2 .campo .campo_imagem #pos5_camisa {
  top: 50%;
  left: 77%;
}
#esquema2:checked ~ #fundo scroll-container #page-2 .campo .campo_imagem #pos6_camisa {
  top: 56%;
  left: 45%;
}
#esquema2:checked ~ #fundo scroll-container #page-2 .campo .campo_imagem #pos7_camisa {
  top: 64%;
}
#esquema2:checked ~ #fundo scroll-container #page-2 .campo .campo_imagem #pos8_camisa {
  top: 64%;
  left: 85%;
}
#esquema2:checked ~ #fundo scroll-container #page-2 .campo .campo_imagem #pos9_camisa {
  top: 70%;
  left: 30%;
}
#esquema2:checked ~ #fundo scroll-container #page-2 .campo .campo_imagem #pos10_camisa {
  top: 70%;
  left: 60%;
}
#esquema2:checked ~ #fundo scroll-container #page-2 .campo .campo_imagem #pos11_camisa {
  top: 76%;
  left: 45%;
}







#esquema3:checked ~ #fundo scroll-container #page-3 .campo .campo_imagem #pos1_camisa {
  top: 30%;
  left: 30%;
}
#esquema3:checked ~ #fundo scroll-container #page-3 .campo .campo_imagem #pos2_camisa {
  top: 30%;
  left: 61%;
}
#esquema3:checked ~ #fundo scroll-container #page-3 .campo .campo_imagem #pos3_camisa {
  top: 40%;
  left: 45.2%;
}
#esquema3:checked ~ #fundo scroll-container #page-3 .campo .campo_imagem #pos4_camisa {
  top: 48%;
  left: 30%;
}
#esquema3:checked ~ #fundo scroll-container #page-3 .campo .campo_imagem #pos5_camisa {
  top: 48%;
  left: 61%;
}
#esquema3:checked ~ #fundo scroll-container #page-3 .campo .campo_imagem #pos6_camisa {
  top: 60%;
  left: 45%;
}
#esquema3:checked ~ #fundo scroll-container #page-3 .campo .campo_imagem #pos7_camisa {
  top: 64%;
}
#esquema3:checked ~ #fundo scroll-container #page-3 .campo .campo_imagem #pos8_camisa {
  top: 64%;
  left: 85%;
}
#esquema3:checked ~ #fundo scroll-container #page-3 .campo .campo_imagem #pos9_camisa {
  top: 70%;
  left: 30%;
}
#esquema3:checked ~ #fundo scroll-container #page-3 .campo .campo_imagem #pos10_camisa {
  top: 70%;
  left: 60%;
}
#esquema3:checked ~ #fundo scroll-container #page-3 .campo .campo_imagem #pos11_camisa {
  top: 76%;
  left: 45%;
}








#esquema4:checked ~ #fundo scroll-container #page-4 .campo .campo_imagem #pos1_camisa {
  top: 30%;
  left: 33%;
}
#esquema4:checked ~ #fundo scroll-container #page-4 .campo .campo_imagem #pos2_camisa {
  top: 30%;
  left: 58%;
}
#esquema4:checked ~ #fundo scroll-container #page-4 .campo .campo_imagem #pos3_camisa {
  top: 56%;
  left: 35%;
}
#esquema4:checked ~ #fundo scroll-container #page-4 .campo .campo_imagem #pos4_camisa {
  top: 43%;
  left: 20%;
}
#esquema4:checked ~ #fundo scroll-container #page-4 .campo .campo_imagem #pos5_camisa {
  top: 43%;
  left: 70%;
}
#esquema4:checked ~ #fundo scroll-container #page-4 .campo .campo_imagem #pos6_camisa {
  top: 56%;
  left: 56%;
}
#esquema4:checked ~ #fundo scroll-container #page-4 .campo .campo_imagem #pos7_camisa {
  top: 64%;
}
#esquema4:checked ~ #fundo scroll-container #page-4 .campo .campo_imagem #pos8_camisa {
  top: 64%;
  left: 85%;
}
#esquema4:checked ~ #fundo scroll-container #page-4 .campo .campo_imagem #pos9_camisa {
  top: 70%;
  left: 30%;
}
#esquema4:checked ~ #fundo scroll-container #page-4 .campo .campo_imagem #pos10_camisa {
  top: 70%;
  left: 60%;
}
#esquema4:checked ~ #fundo scroll-container #page-4 .campo .campo_imagem #pos11_camisa {
  top: 76%;
  left: 45%;
}








.seta_que_volta {
  background: transparent;
  position: absolute;
  top: 142%;
  left: 5%;
  width: 50%;
  height: 70%;
  border-radius: 100%;
  cursor: pointer;
  scroll-behavior: smooth !important;
  z-index: 1;
  transition: 0.4s;
}
.seta {
  width: 0%;
  height: 0%;
  transform: rotate(179deg);
  transition: 0.4s;
}

.posicionamento{
  width: 4%;
  position: absolute;
  background: transparent;
  height: 12vh;
  left: 8%;
  z-index: 100;
  /* border: 7px solid black; */
  top: 33%;
  cursor: pointer;
  display: none;
}


.play {
  width: 15%;
  height: 70%;
  z-index: 100;
  position: absolute;
  top: 10%;
  left: 20%;
}




.stas_image{
  width: 100%;
  height: 100%;
  position: absolute;
}

.stats {
  position: absolute;
  height: 71vh;
  width: 48%;
  top: 13%;
  left: 57%;
}
.stats_2{
  position: absolute;
  width: 50%;
  height: 70vh;
  top: 18%;
  left: 57%;
}
.tiulo_play {
  position: absolute;
  font-size: 4vw;
  left: 40%;
}




#restinga:checked ~ #restinga_velha #fundo scroll-container #page-1 .campo .posicionamento{
  display: block;

}

#restinga:checked ~ #restinga_velha #fundo scroll-container #page-2 .campo .posicionamento{
  display: block;

}

#restinga:checked ~ #restinga_velha #fundo scroll-container #page-3 .campo .posicionamento{
  display: block;

}

#restinga:checked ~ #restinga_velha #fundo scroll-container #page-4 .campo .posicionamento{
  display: block;

}







#vermes:checked ~ #vermifugos #fundo1 scroll-container #page-1_2 .campo .posicionamento{
  display: block;

}


#vermes:checked ~ #vermifugos #fundo1 scroll-container #page-2_2 .campo .posicionamento{
  display: block;

}


#vermes:checked ~ #vermifugos #fundo1 scroll-container #page-3_2 .campo .posicionamento{
  display: block;

}


#vermes:checked ~ #vermifugos #fundo1 scroll-container #page-4_2 .campo .posicionamento{
  display: block;

}



.seta_escolher{
  position: absolute;
  top: 38%;
  left: 9%;
  z-index: 1000;
  width: auto;
  transform: rotate(31deg);
  width: 20%;
}
#esquema1:checked ~ #fundo scroll-container #page-1 .campo .campo_imagem .seta_escolher{
  display: none;
}
#esquema1:checked ~ #fundo scroll-container #page-1 .campo .posicionamento{
  cursor: initial;
}


#esquema2:checked ~ #fundo scroll-container #page-2 .campo .campo_imagem .seta_escolher{
  display: none;
}
#esquema2:checked ~ #fundo scroll-container #page-2 .campo .posicionamento{
  cursor: initial;
}

#esquema3:checked ~ #fundo scroll-container #page-3 .campo .campo_imagem .seta_escolher{
  display: none;
}
#esquema3:checked ~ #fundo scroll-container #page-3 .campo .posicionamento{
  cursor: initial;
}

#esquema4:checked ~ #fundo scroll-container #page-4 .campo .campo_imagem .seta_escolher{
  display: none;
}
#esquema4:checked ~ #fundo scroll-container #page-4 .campo .posicionamento{
  cursor: initial;
}




.aparecer{
  width: 10%;
  height: 10vh;
  z-index: 10;
  position: absolute;
  cursor: pointer;
  display: none;
  left: 5%;
}




#restinga:checked ~ #restinga_velha #fundo scroll-container #page-1 .campo .aparecer{
  display: block;
}
#restinga:checked ~ #restinga_velha #fundo scroll-container #page-2 .campo .aparecer{
  display: block;
}
#restinga:checked ~ #restinga_velha #fundo scroll-container #page-3 .campo .aparecer{
  display: block;
}
#restinga:checked ~ #restinga_velha #fundo scroll-container #page-4 .campo .aparecer{
  display: block;
}



#vermes:checked ~ #vermifugos #fundo1 scroll-container #page-1_2 .campo .aparecer{
  display: block;
}
#vermes:checked ~ #vermifugos #fundo1 scroll-container #page-2_2 .campo .aparecer{
  display: block;
}
#vermes:checked ~ #vermifugos #fundo1 scroll-container #page-3_2 .campo .aparecer{
  display: block;
}
#vermes:checked ~ #vermifugos #fundo1 scroll-container #page-4_2 .campo .aparecer{
  display: block;
}









#esquema1_2:checked ~ #fundo1 scroll-container #page-1_2 .campo .campo_imagem_2 .seta_escolher{
  display: none;
}
#esquema1_2:checked ~ #fundo1 scroll-container #page-1_2 .campo .posicionamento{
  cursor: initial;
}


#esquema2_2:checked ~ #fundo1 scroll-container #page-2_2 .campo .campo_imagem_2 .seta_escolher{
  display: none;
}
#esquema2_2:checked ~ #fundo1 scroll-container #page-2_2 .campo .posicionamento{
  cursor: initial;
}

#esquema3_2:checked ~ #fundo1 scroll-container #page-3_2 .campo .campo_imagem_2 .seta_escolher{
  display: none;
}
#esquema3_2:checked ~ #fundo1 scroll-container #page-3_2 .campo .posicionamento{
  cursor: initial;
}

#esquema4_2:checked ~ #fundo1 scroll-container #page-4_2 .campo .campo_imagem_2 .seta_escolher{
  display: none;
}
#esquema4_2:checked ~ #fundo1 scroll-container #page-4_2 .campo .posicionamento{
  cursor: initial;
}



#estatis1 {
  width: 46%;
  height: 80vh;
  position: absolute;
  background: #000000;
  top: 7%;
  left: 58%;
  display: none;
}
#estatis1_2 {
  width: 46%;
  height: 80vh;
  position: absolute;
  background: #000000;
  top: 7%;
  left: 58%;
  display: none;
}
#estatis1_3 {
  width: 46%;
  height: 80vh;
  position: absolute;
  background: #000000;
  top: 7%;
  left: 58%;
  display: none;
}
#estatis2 {
  width: 46%;
  height: 80vh;
  position: absolute;
  background: #000000;
  top: 7%;
  left: 58%;
  display: none;
}
#estatis1_4 {
  width: 46%;
  height: 80vh;
  position: absolute;
  background: #000000;
  top: 7%;
  left: 58%;
  display: none;
}
#estatis1_5 {
  width: 46%;
  height: 80vh;
  position: absolute;
  background: #000000;
  top: 7%;
  left: 58%;
  display: none;
}
#estatis3 {
  width: 46%;
  height: 80vh;
  position: absolute;
  background: #000000;
  top: 7%;
  left: 58%;
  display: none;
}
#estatis4 {
  width: 46%;
  height: 80vh;
  position: absolute;
  background: #000000;
  top: 7%;
  left: 58%;
  display: none;
}
.linha{
  width: 100%;
  height: 10%;
  background: rgb(21, 22, 22);
  position: absolute;
}
.linha1{
  width: 100%;
  height: 10%;
  background: rgb(21, 22, 22);
  position: absolute;
  top: 10%;
}
.linha2{
  width: 100%;
  height: 10%;
  background: #191a1a;
  position: absolute;
  top: 20%;
}
.linha3{
  width: 100%;
  height: 10%;
  background: rgb(21, 22, 22);
  position: absolute;
  top: 30%;
}
.linha4{
  width: 100%;
  height: 10%;
  background: rgb(21, 22, 22);
  position: absolute;
  top: 40%;
}
.linha5{
  width: 100%;
  height: 10%;
  background: rgb(21, 22, 22);
  position: absolute;
  top: 50%;
}
.linha6{
  width: 100%;
  height: 10%;
  background: #191a1a;
  position: absolute;
  top: 60%;
}

.linha7{
  width: 100%;
  height: 10%;
  background: rgb(21, 22, 22);
  position: absolute;
  top: 70%;
}
.linha8{
  width: 100%;
  height: 10%;
  background: #191a1a;
  position: absolute;
  top: 80%;
}
.linha9{
  width: 100%;
  height: 10%;
  background: rgb(21, 22, 22);
  position: absolute;
  top: 90%;
}
.sub_princiapal {
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 15%;
  left: 41%;
}


#vermes:checked ~ #vermifugos #fundo1 scroll-container #page-1_2 #estatis1{
  display: block;
}
#vermes:checked ~ #vermifugos #fundo1 scroll-container #page-2_2 #estatis2{
  display: block;
}
#vermes:checked ~ #vermifugos #fundo1 scroll-container #page-3_2 #estatis3{
  display: block;
}
#vermes:checked ~ #vermifugos #fundo1 scroll-container #page-4_2 #estatis4{
  display: block;
}
#restinga:checked ~ #restinga_velha #fundo scroll-container #page-1 #estatis1_2{
  display: block;
}
#restinga:checked ~ #restinga_velha #fundo scroll-container #page-2 #estatis1_3{
  display: block;
}
#restinga:checked ~ #restinga_velha #fundo scroll-container #page-3 #estatis1_4{
  display: block;
}
#restinga:checked ~ #restinga_velha #fundo scroll-container #page-4 #estatis1_5{
  display: block;
}
.sub_sub {
  position: absolute;
  font-size: 1.28vw;
  color: #fff;
  top: 20%;
}
.sub_sub1 {
  position: absolute;
  font-size: 1.28vw;
  color: #fff;
  left: 65%;
  top: 20%;
}
.sub_sub2 {
  position: absolute;
  color: #fff;
  font-size: 1.28vw;
  left: 59%;
  top: 20%;
}

.porcentagem {
  width: 40%;
  height: 27%;
  border-radius: 100px;
  background: rgb(76, 80, 80);
  position: absolute;
  left: 55%;
  top: 20%;
}

.porcentagem_colorida {
  clip-path: polygon(0% 0%, 80% 0%, 80% 100%, 0% 100%);
  position: absolute;
  height: 100%;
  width: 36%;
  background: rgb(11, 150, 255);
  border-radius: 100px;
}
.porcentagem_colorida1 {
  clip-path: polygon(0% 0%, 80% 0%, 80% 100%, 0% 100%);
  position: absolute;
  height: 100%;
  width: 65%;
  background: rgb(11, 150, 255);
  border-radius: 100px;
}
.porcentagem_colorida2 {
  clip-path: polygon(0% 0%, 80% 0%, 80% 100%, 0% 100%);
  position: absolute;
  height: 100%;
  width: 75%;
  background: rgb(11, 150, 255);
  border-radius: 100px;
}
.porcentagem_colorida3 {
  clip-path: polygon(0% 0%, 80% 0%, 80% 100%, 0% 100%);
  position: absolute;
  height: 100%;
  width: 75%;
  background: rgb(11, 150, 255);
  border-radius: 100px;
}
.porcentagem_colorida4 {
  clip-path: polygon(0% 0%, 80% 0%, 80% 100%, 0% 100%);
  position: absolute;
  height: 100%;
  width: 25%;
  background: rgb(11, 150, 255);
  border-radius: 100px;
}
.porcentagem_colorida5{
  clip-path: polygon(0% 0%, 80% 0%, 80% 100%, 0% 100%);
  position: absolute;
  height: 100%;
  width: 59%;
  background: rgb(11, 150, 255);
  border-radius: 100px
}
.porcentagem_colorida6{
  clip-path: polygon(0% 0%, 80% 0%, 80% 100%, 0% 100%);
  position: absolute;
  height: 100%;
  width: 47%;
  background: rgb(11, 150, 255);
  border-radius: 100px;
}
.porcentagem_colorida7{
  clip-path: polygon(0% 0%, 80% 0%, 80% 100%, 0% 100%);
  position: absolute;
  height: 100%;
  width: 77%;
  background: rgb(11, 150, 255);
  border-radius: 100px;
}
.numerozinho {
  font-size: 1.5vw;
  position: absolute;
  left: 47%;
  color: #ffff;
  font-weight: 100;
  top: 12%;
}

.bar1 {
  width: 0.8%;
  height: 100%;
  position: absolute;
  background: #000000;
  left: 10%;
  z-index: 10;
}
.bar2{
  width: 0.8%;
  height: 100%;
  position: absolute;
  background: #000000;
  left: 20%;
  z-index: 10;
}
.bar3 {
  width: 0.8%;
  height: 100%;
  position: absolute;
  background: #000000;
  left: 30%;
  z-index: 10;
}
.bar4 {
  width: 0.8%;
  height: 100%;
  position: absolute;
  background: #000000;
  left: 40%;
  z-index: 10;
}
.bar5 {
  width: 0.8%;
  height: 100%;
  position: absolute;
  background: #000000;
  left: 50%;
  z-index: 10;
}
.bar6 {
  width: 0.8%;
  height: 100%;
  position: absolute;
  background: #000000;
  left: 60%;
  z-index: 10;
}
.bar7 {
  width: 0.8%;
  height: 100%;
  position: absolute;
  background: #000000;
  left: 70%;
  z-index: 10;
}
.bar8 {
  width: 0.8%;
  height: 100%;
  position: absolute;
  background: #000000;
  left: 80%;
  z-index: 10;
}
.bar9 {
  width: 0.8%;
  height: 100%;
  position: absolute;
  background: #000000;
  left: 90%;
  z-index: 10;
}

.bar1_1 {
  width: 0.8%;
  height: 100%;
  position: absolute;
  background: #000000;
  left: 20%;
  z-index: 10;
}
.bar2_1 {
  width: 0.8%;
  height: 100%;
  position: absolute;
  background: #000000;
  left: 40%;
  z-index: 10;
}
.bar3_1 {
  width: 0.8%;
  height: 100%;
  position: absolute;
  background: #000000;
  left: 60%;
  z-index: 10;
}
.bar4_1 {
  width: 0.8%;
  height: 100%;
  position: absolute;
  background: #000000;
  left: 80%;
  z-index: 10;
}

.voltar {
  font-size: 1.1vw;
  position: absolute;
  z-index: 2000;
  top: -130%;
  left: 1860%;
  width: 100%;
  color: white;
  text-decoration: underline;
}